{erl_opts, [no_debug_info]}.

{deps, [ {aesophia, {git, "https://github.com/aeternity/aesophia.git", {ref, "8b4f471"}}}
       , {aeserialization, {git, "https://github.com/aeternity/aeserialization.git", {ref, "816bf99"}}}
       , {eblake2, "1.0.0"}]}.

{escript_incl_apps, [aeserialization]}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/aesophia_cli\" ./aesophia_cli"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ aesophia* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
