{erl_opts, [no_debug_info]}.

{deps, [ {aesophia, {git, "https://github.com/aeternity/aesophia.git", {tag, "v7.4.0"}}}
       , {aeserialization, {git, "https://github.com/aeternity/aeserialization.git", {tag, "v1.0.0"}}}
       , {eblake2, "1.0.0"}]}.

{escript_incl_apps, [aeserialization]}.
{escript_incl_extra, [{"aesophia/priv/stdlib/*", "_build/default/lib/"}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/aesophia_cli\" ./aesophia_cli"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ aesophia* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

{relx, [{release, { aesophia_cli, "7.0.1" },
              [sasl, aesophia_cli, aesophia, aeserialization, eblake2]},

        {dev_mode, false},
        {include_erts, true}, % To include Erlang runtime system
        {extended_start_script, true}, % Should be true

        {overlay, [{template, "./warp/launch", "launch"},
                   {copy, "_build/default/bin/aesophia_cli", "aesophia_cli"}]}]}.
