{erl_opts, [no_debug_info]}.

{deps, [ {aesophia, {git, "https://github.com/aeternity/aesophia.git", {tag, "v5.0.0"}}}
       , {aeserialization, {git, "https://github.com/aeternity/aeserialization.git", {ref, "47aaa8f"}}}
       , {eblake2, "1.0.0"}]}.

{escript_incl_apps, [aeserialization]}.
{escript_incl_extra, [{"aesophia/priv/stdlib/*", "_build/default/lib/"}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/aesophia_cli\" ./aesophia_cli"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ aesophia* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
